@{
    ViewData["Title"] = "User Boards";
}
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using quill.Entities
@model IEnumerable<quill.Entities.Board>;
@inject SignInManager<User> SignInManager

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    @foreach (var i in Model)
    {
        <div class="col">
            <partial name="_BoardCardPartial" model="@i"/> 
        </div>
    }
    @if (!SignInManager.IsSignedIn(User) && Model.Any())
    {
        <div class="col">
            <a asp-controller="Account" asp-action="Register" class="text-decoration-none text-muted">
                <div class="card border-dashed d-flex justify-content-center align-items-center" style="height: 10rem;">
                    <h5 class="card-title">+ Sign Up To Create More Boards</h5>
                </div>
            </a>
        </div>
    }
    else
    {
        <div class="col">
            <a asp-controller="Boards" asp-action="Create" class="text-decoration-none text-muted">
                <div class="card border-dashed d-flex justify-content-center align-items-center" style="height: 10rem;">
                    <h5 class="card-title">+ Create New Board</h5>
                </div>
            </a>
        </div>
    }
</div>


<style>
    .border-dashed {
        border: 2px dashed #ccc;
    }
</style>

